<div class="row" style="color:white;">
  <div class="col">
    <script>
      window.tableId = "<%= @table_id %>";
      window.user_id = " <%= @current_user.id %> ";
      window.user_name = " <%= @current_user.name %> ";

    </script>
    <!-- <div id="root">
      <p>React app not loaded...</p>
    </div> -->
    <h4 style="margin-left:19em;"> Table : <%= @table_id %> </h4>
    <div id="game">
      Loading...
    </div>
  </div>
</div>
