<div class="row" style="color:white;">
  <div class="col">
    <h1>BlackJack</h1>
    <script>
      window.tableId = "<%= @table_id %>";
    </script>
    <!-- <div id="root">
      <p>React app not loaded...</p>
    </div> -->
    <h4> Table : <%= @table_id %> </h4>
    <div id="game">
      Loading...
    </div>
  </div>
</div>
