/* This file is for your main application css. */

@import "bootstrap";

.gameImg
{
  position:absolute;
  background-image: url("./tableB.png");
  height:38em;
  width:100%;
  background-repeat: no-repeat;
}

.deckImg{
  width: 20em;
  height: 18em;
  margin-left: 21em;
}

.messageBoard{
  position: absolute;
  float: right;
  height: 500px;
  width: 280px;
  overflow: scroll;
  text-overflow: ellipsis;
  margin-left: 70em;
  background: lightgrey;
  border-radius: 5px;
  padding: 5px 11px;
  font-size: 1em;
}


#quit-btn{
  margin-top: 4em;
  margin-left: 2em;
  position: absolute;
}

.col{
  margin-left: 1em;
}
.join-button{
  display: inline-block;
}
.observe-button{
  float:right;
}
.btns{
  margin-right:13em;
  float:right;
  margin-top: 5em;
}


.p1-cards{
  margin-top: -98px;
  margin-left: 800px;
}

.p2-cards{
  margin-top: 24px;
  margin-left: 663px;
}

.p3-cards{
  margin-top: 100px;
  margin-left: 585px;
}

.p4-cards{
  margin-top: 170px;
  margin-left: 460px;
}

.p5-cards{
  margin-top: 100px;
  margin-left: 340px;
}

.p6-cards{
  margin-top: 24px;
  margin-left: 210px;
}

.p7-cards{
  margin-top: -98px;
  margin-left: 140px;
}

.p1-names{
  position: absolute;
  margin-left: 50em;
  top: 18em;
}

.p2-names{
  position:absolute;
  margin-left: 46em;
  top: 25em;
}

.p3-names{
  position:absolute;
  margin-left: 39em;
  top: 30em;
}

.p4-names{
  position:absolute;
  margin-left: 30.5em;
  top: 32em;
}

.p5-names{
  position:absolute;
  margin-left: 21.5em;
  top: 30em;
}

.p6-names{
  position:absolute;
  margin-left: 15em;
  top: 25em;
}

.p7-names{
  position:absolute;
  margin-left: 10em;
  top: 18em;
}

.p1-scores{
  position: absolute;
  margin-left: 50em;
  top: 19.5em;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: black;
}

.p2-scores{
  position:absolute;
  margin-left: 46em;
  top: 26.5em;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: black;
}

.p3-scores{
  position:absolute;
  margin-left: 39em;
  top: 31.5em;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: black;
}

.p4-scores{
  position:absolute;
  margin-left: 30.5em;
  top: 33.5em;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: black;
}

.p5-scores{
  position:absolute;
  margin-left: 21.5em;
  top: 31.5em;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: black;
}

.p6-scores{
  position:absolute;
  margin-left: 15em;
  top: 26.5em;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: black;
}

.p7-scores{
  position:absolute;
  margin-left: 10em;
  top: 19.5em;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: black;
}

.table{
  font-weight: 900;
}

.dropdown{
  display:none;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
